@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

* {
  font-family: var(--font-sans);

}
body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

#image-track > div > .image {
  width: 30vh;
  height: 40vh;
  object-fit: cover;
  object-position: 100% 50%;
}

#image-track > div > .image.add {
  object-fit: contain;
}

#image-track {
  display: flex;
  gap: 4vmin;
  /* overflow: hidden; */
  /* position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(0%, -50%); */
}